<div class="easyui-panel" title="{$Position}" data-options="border:false,fit:true">
    <div style="width:100%">
        <table class="table_list">
            <tr>
                <th width="70">UID:</th>
                <td>{$user_info.info.uid}</td>
                <th width="80">登录名:</th>
                <td>{$user_info.info.username}</td>
            </tr>
            <tr>
                <th>昵称:</th>
                <td>{$user_info.info.nickname}</td>
                <th>头像:</th>
                <td>{$user_info['info']['face'] ? $user_info['info']['face'] : '<span class="text-warning">未上传</span>'}</td>
            </tr>
            <tr>
                <th>性别:</th>
                <td>
                    <switch name='user_info.info.sex'>
                        <case value='0'>保密</case>
                        <case value='1'>男</case>
                        <case value='2'>女</case>
                    </switch>
                </td>
                <th>生日:</th>
                <td>{:date('Y-m-d',$user_info['info']['birthday'])}</td>
            </tr>
            <tr>
                <th>邮箱:</th>
                <td>{$user_info.info.email}</td>
                <th>QQ:</th>
                <td>{$user_info['info']['qq'] ? $user_info['info']['qq'] : '<span class="text-warning">未填写</span>'}</td>
            </tr>
            <tr>
                <th>手机号:</th>
                <td>{$user_info['info']['mobile'] ? $user_info['info']['mobile'] : '<span class="text-warning">未填写</span>'}</td>
                <th>状态:</th>
                <td>{$user_info['info']['status'] ? '<span class="text-success">正常</span>' : '<span class="text-danger">禁用</span>'}</td>
            </tr>
            <tr>
                <th>积分:</th>
                <td>{$user_info.info.score}</td>
                <th>金币:</th>
                <td>{$user_info.info.gold}</td>
            </tr>
            <tr>
                <th>授权角色：</th>
                <td colspan="3">
                    <foreach name='user_info["groups"]' item='vo' key='k'>
                    <if condition='$k'>&nbsp;&nbsp;|&nbsp;&nbsp;</if><a href="javascript:void(0)">{$vo.title}</a>
                    </foreach>
                </td>
            </tr>
            <tr>
                <th>授权部门：</th>
                <td colspan="3">
                    
                </td>
            </tr>
            <tr>
                <th>授权栏目：</th>
                <td colspan="3">
                    
                </td>
            </tr>
            <tr>
                <th>注册IP:</th>
                <td>{:long2ip($user_info['info']['reg_ip'])}</td>
                <th>注册时间:</th>
                <td>{:date('Y-m-d H:i:s',$user_info['info']['reg_time'])}</td>
            </tr>
            <tr>
                <th>最后登录IP:</th>
                <td>{:long2ip($user_info['info']['last_login_ip'])}</td>
                <th>最后登录时间:</th>
                <td>{:date('Y-m-d H:i:s',$user_info['info']['last_login_time'])}</td>
            </tr>
        </table>
    </div>
</div>